@import '../../../../styles.scss';

.nav-menu {
  padding: $default-0;
  margin: $default-0;

  &__img {
    width: $percentage-100;
    padding: 0 $space-15;

    & .image {
      width: $percentage-100;
    }
  }

  &__separator {
    margin: 1rem 0;
    border-bottom: solid 1px $separator-line;
  }

  &__list {
    width: $percentage-100;
    padding: $default-0;
    margin: $default-0;

    & li {
      list-style: none;
      background-color: $background-btn-default;
      color: $text-primary;
      border-radius: $space-08;
      text-decoration: none;
      margin-bottom: $space-08;
    }

    & .item__sign-put {
      background-color: $error-ligh;
      color: $text-primary;
    }
    & .item__sign-put:hover, .item__sign-put:active {
      background-color: $error;
      color: $background-2;
    }

    & li:hover, li:active {
      cursor: pointer;
      background-color: $background-btn-hover-1;
      color: $primary;
      font-size: $font-size-18;
      transition: $transition-02s;
    }
    &::-webkit-scrollbar{
      display: none;
    }
  }
}

.list__item {
  display: flex;
  align-items: center;
  justify-content: left;
  align-content: center;
  margin-left: $space-15;
  padding: $space-05;
}

.navigation-list-label {
  display: inline-block;
  padding-left: $space-08;
}
