<mat-sidenav-container>
  <mat-sidenav #menu>
    <app-menu-list (menuToggleList)="menu.toggle()"></app-menu-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-header (menuToggle)="menu.toggle()"></app-header>
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>



<!--button (click)="onToggleSpinner()">Show Spinner</!--button>
<app-spinner *ngIf="showSpinner"></app-spinner>

<button appFilesUpload [multiple]="true" (imgURL)="onFilesChange($event)">Upload Image</button>

<button (click)="onSuccess()">SUCCESS</button>
<button-- (click)="onError()">ERROR</button-->
