@import '../../../../../../styles.scss';

.container-form-login {
  width: $percentage-100;
  padding: $space-20;

  & section{
    max-width: $percentage-075;
    /*overflow-y: scroll;*/
  }
}

mat-card {
  margin-top: $space-08;
  max-width: $percentage-075;
  padding: $default-0 $space-10;
  text-align: center;
  box-shadow: $shadow-2 !important;
  border-radius: $space-10 !important;
  & form {
    padding: $space-12;
  }
  & mat-card-title {
    color: $primary;
    font-size: $font-size-22;
    letter-spacing: $space-12;
  }
  & .btn-sign-up {
    width: $percentage-100;
    box-shadow: none;
    background-color: $primary-ligh-2;
    color: $background-white;
  }
  & .btn-sign-up:hover, .btn-sign-up:active {
    background-color: $primary;
    color: $background-btn-hover-1;
    font-weight: bold;
  }
}

.image {
  width: $percentage-010;
  margin: $default-0;
}


mat-form-field {
  width: 100%;
}

@media screen and (min-width: 1024px) {
  .container-form-login {
    height: 100vh;
  }
}

@media screen and (max-width: 775px) {
  section{
    margin: $percentage-005 $default-0;
    padding: $space-20 $default-0;
  }

  mat-card {
    max-width: $percentage-075;
  }

  .image {
    display: none;
  }
}

@media screen and (max-width: 425px) {
  .container-form-login {
    max-width: $percentage-100 !important;
    margin: $space-15 $default-0;
  }

  section, mat-card {
    max-width: $percentage-100 !important;
  }
}

@media screen and (max-width: 325px) {
  .container-form-login {
    padding: $default-0;
  }
  mat-card {
    margin-top: $default-0;
    border-radius: $default-0 !important;
    max-width: $percentage-100 !important;
  }
}
