@import '../../../../../../styles.scss';

.card-img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-form-login {
  width: $percentage-100;
  height: 80vh;
  padding: $space-15;
  & section{
    width: $percentage-050;
  }
}

mat-card {
  padding: 0 $space-25;
  width: $percentage-100;
  text-align: center;
  box-shadow: $shadow-2 !important;
  border-radius: $space-10 !important;
  & form {
    padding: $space-12;
  }
  & mat-card-title {
    color: $primary;
    font-size: $font-size-22;
    letter-spacing: $space-12;
  }
  & .btn-sign-up {
    width: $percentage-100;
    box-shadow: none;
    background-color: $primary-ligh-2;
    color: $background-white;
  }
  & .btn-sign-up:hover, .btn-sign-up:active {
    background-color: $primary;
    color: $background-btn-hover-1;
    font-weight: bold;
  }
}

.image {
  width: $percentage-010;
  margin: $default-0;
}


mat-form-field {
  width: 100%;
}
