@import '../../../../styles.scss';

.toolbar-background {
  background: $primary;
  background: -webkit-linear-gradient(to right, $primary, $primary-dark-1);
  background: linear-gradient(to right, $primary, $primary-dark-1);

  & button {
    color: $background-btn-default;
  }
  &__img {
    width: $frame-space-200;
    padding: 0 $space-15;

    & .image {
      width: $percentage-100;
    }
  }
}

.side-bar {
  padding: $default-0;
  margin: $default-0;
  width: $percentage-100;

  & li {
    list-style: none;
    text-decoration: none;

    font-size: $font-size-14;
    text-align: center;
    width: $frame-space-100 + $space-20;

    color: $background-2;
    border-radius: $space-08;
    padding: $default-0 $space-08;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  & li:hover, li:active {
    cursor: pointer;
    color: $primary;
    background-color: $background-btn-hover-1;
    transition: $transition-02s;
  }
}

.list-label {
  margin-left: $space-05;
}

