<mat-toolbar class="toolbar-background">
  <button mat-icon-button (click)="menuToggleDispatch()">
    <mat-icon>menu</mat-icon>
  </button>
  <div fxLayout class="toolbar-background__img">
    <img class="image" src="../../../../assets/img/lg_inmueble_app_bn.png" alt="">
  </div>
  <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
    <ul fxLayout="row" fxLayoutGap="25px" class="side-bar">
      <li><a>{{ users ? users.username : null }}</a></li>
      <li [routerLink]="item.router" [queryParams]="item.query" *ngFor="let item of mainMenu.defaultOptions" mat-list-item>
          <a (click)="logoutUser(item.name)" *ngIf="users? item.band : !item.band" class="list-wrapper-item">
              <i [ngClass]="['uil',item.icon]"></i>
              <span class="list-label">{{item.name}}</span>
          </a>
      </li>
  </ul>
  </div>
</mat-toolbar>
