<section class="flex-container" fxLayoutAlign="center center" >
  <div class="row">
    <mat-card fxLayout="column" fxLayoutAlign="space-around center">

      <mat-card-header>
        <div class="card-img">
          <img class="image" src="../../../../../../assets/img/logo_inmueble.png" alt="">
        </div>
      </mat-card-header>

      <mat-card-title>Bienvenido a Inmueble App EC</mat-card-title>
      <mat-card-subtitle>Servicio de compra de inmuebles (En Desarrollo...)</mat-card-subtitle>
      <mat-card-content fxFlex fxLayout="column">
        <!--p>Desarrollo profesional de Apps</p-->
        <small>
          <p>
            Aplicacion web reponsive de Inmuebles, desarrollado con tecnologias: Angular,
            TypeScript (Front-end), Micro servicios en Java con Spring Boot (Back-end),
            con almacenamiento Base de datos PosgrestSQL, MySQL y servicios de Firebase.
          </p>
        </small>
        <br>
        <mat-card-footer fxLayoutAlign="center">
          <a  href="{{item.link}}" *ngFor="let item of menulink.accessLink" class="card-footer__btn" target="_blank">
            <span class="btn-inner--icon">
              <i [ngClass]="['uil',item.icon]"></i>
            </span>
          </a>
        </mat-card-footer>
      </mat-card-content>

    </mat-card>
  </div>
</section>
