@import '../../../../../styles.scss';

.container-inmueble {
  margin: $percentage-005 $default-0;
}

.inmbueble {
  display: flex;
  padding: $default-0;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: $default-0;
  padding: $default-0;

  &__item {
    display: flex;
    padding: $space-15;
    gap: $space-15;
    flex-grow: 1;
  }
}

.title {
  padding-right: $space-20;
}

mat-card img {
  object-fit: cover;
  width: $percentage-100;
}

mat-card-subtitle span {
  font-size: $font-size-18;
  color: $success;
}

mat-card-actions button {
  width: $frame-space-100;
  margin-left: $space-08;
}

mat-card-actions {
  & .btn{
    background: $background-btn-hover-1;
  }
  & .btn i{
    padding-right: $space-05;
  }
  & .btn-new{
    background: $background-white;
  }
  & .btn-shop:hover, .btn-shop:active, .btn-new:hover, .btn-new:active{
    background: $primary;
    color: $background-1;
  }
}

@media screen and (min-width: 1024px) {
  .cards {
    &__item {
      &__sub-card {
        max-width: $frame-space-300;
      }
    }
  }
}

@media screen and (min-width: 425px) and (max-width: 775px) {
  .container-inmueble {
    margin: 8% $default-0;
  }
  .cards {
    &__item {
      flex-wrap: wrap !important;
      &__sub-card {
        width: $frame-space-300 +$frame-space-025;
        flex-grow: 1 !important;
      }
    }
  }
}

@media screen and (max-width: 425px) {
  .container-inmueble {
    margin: 12% 0;
  }
}

@media screen and (max-width: 375px) {
  .container-inmueble {
    margin: 16% 0;
  }
}

@media screen and (max-width: 320px) {
  .cards {
    &__item {
      &__sub-card {
        width: $percentage-100;
      }
    }
  }
}
